In [1]:
%load_ext autoreload
%autoreload 1
%aimport scrape

In [47]:
%autoreload
import scrape
import main
import pandas as pd

In [91]:
#テスト用データ
start = main.transform_timestamp(2025, 5, 1)
end = main.transform_timestamp(2025, 5, 20)

one_BTC = scrape.ScrapeMarketData()

In [92]:
test_df = pd.DataFrame(
    [[1747666800000,10,10,10,10,10,10]],
    columns=one_BTC.COLUMNS
)
test_df = test_df.set_index('開始時刻')
test_df

               始値  高値  安値  終値  取引量  取引総額
開始時刻
1747666800000  10  10  10  10   10    10

In [94]:
one_BTC.df = pd.concat([one_BTC.df, test_df], axis=0)
one_BTC.df

                     始値        高値        安値        終値      取引量          取引総額
開始時刻
1747666800000  104301.1  104347.5  104239.0  104250.8  275.397  2.872639e+07
1747666740000  104208.3  104301.1  104179.4  104301.1  459.046  4.784312e+07
1747666680000  104301.1  104313.8  104181.0  104208.3  172.385  1.797225e+07
1747666620000  104269.6  104348.1  104269.6  104301.1  265.541  2.770118e+07
1747666560000  104300.0  104332.1  104247.3  104269.6  424.885  4.430794e+07
...                 ...       ...       ...       ...      ...           ...
1747654980000  102991.6  103000.0  102982.3  102990.1   25.244  2.600059e+06
1747654920000  102982.5  102991.6  102982.5  102991.6    3.530  3.635427e+05
1747654860000  102931.5  102983.0  102931.4  102982.5   10.357  1.066366e+06
1747666800000      10.0      10.0      10.0      10.0   10.000  1.000000e+01
1747666800000      10.0      10.0      10.0      10.0   10.000  1.000000e+01

[202 rows x 6 columns]

In [ ]:
one_BTC.df[one_BTC.df.duplicated(keep='first') == False]